body {
    width: 80%;
    margin: auto;
    background-image: url("./img/bg.jpg"); 
    text-align: center;
}

h1, h2 {color: blue;}

p {color: white;}

input {width:150px; margin: auto;}

span {font-size: xx-large;
color: white;}

#calcul, #reset, #verif {margin:2rem;
border-radius: 10px;
padding:.5rem;}

#calcul:hover, #reset:hover {cursor: pointer;}

input:invalid {border : 1px solid red;}
input:valid {border: 1px solid black;}

#result { 
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 2rem;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
border: 2px solid aqua;}

#result p {color:black;}